<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit User</title>
</head>
<body>
    <h1>Edit User {{id}}</h1>
    {% for user in users %}
   <form action="/users/{{id}}/update" method="post">
       <ul>
           <li>
               <label for="first">First</label>
               <input type=text name="first_name" value={{user['first_name']}}>
           </li>
           <li>
                <label for="last">Last</label>
                <input type=text name="last_name" value={{user['last_name']}}>
            </li>
            <li>
                <label for="email">Email</label>
                <input type=text name="email" value={{user['email']}}>
            </li>
            <li>
                <label for="age">Age</label>
                <input type=text name="age" value={{user['age']}}>
            </li>
            <li>
                <input type=submit name=submit value=Update>
            </li>

       </ul>
   </form>
   {% endfor %}
   <p><a href="/users/{{id}}">SHOW |</a><a href="/users">Go Back</a></p>
</body>
</html>