<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Information</title>
    
</head>
<body>
    <h1> User {{id}}</h1>
    {% for user in users %}
    <ul>
        <li>Full Name: {{user['first_name']}} {{user['last_name']}}</li>
        <li>Email: {{user['email']}}</li>
        <li>Age: {{user['age']}}</li>
        <li>Created: {{user['created_at'].month}} {{user['created_at'].day}}, {{user['created_at'].year}}</li>
    </ul>
    {% endfor %}
    <p><a href='/users/{{id}}/edit'>Edit   |</a><a href='/users/{{id}}/destroy'>   Delete</a></p>
</body>
</html>